.container{
    display: flex ;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}



.counter-container{

    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 2px 2px 5px 4px rgba(0, 0, 0, 0.459);
    border-radius: 20px;
}


#text{
    font-size: 20px;
    background-color: inherit;
}

#btn{
    width: 60%;
    border-radius: 10px;
    background-color:#008CBA;
    color: white;
    font-size: 20px;
}



#btn:hover{
    box-shadow: 1px 1px 12px 2px rgb(47, 47, 47);
}

#btn:active{
    transform: scale(0.98);
    color: blueviolet;
}